*{
    margin: 0;
}
body{
    text-align: center;
    color: #111111;
}
.placar{
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    color: rgb(219, 219, 219);
    background-color: #09043E;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.menu{
    display: flex;
}
a{
    text-decoration: none;
    color: #e3e3e3;
    font-size: 20px;
}